*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    width: 100.01%;
    height: 100vh;
    background: url("ucbaniladfrfr.jpg");
    background-position: center;
    background-size: cover;
    opacity: 90%;
}

#container{
    height: 60px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 15px;
    border-color: transparent;
    display: flex;
} 

.home{
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    transition: all 0.03s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 25px;
    border-right: 1px solid white;
    padding-right: 16px;
}

.search{
    background-color: rgb(245, 245, 245, 0.50);
    border-radius: 25px;
    position: relative;
    left: 470px;
}

img{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 482px;
}

.home:hover{
    background-color:  rgb(53, 53, 53);
	color: black;
}

#bgimg{
    width: 100.01%;
    height: 100vh;
    background: url("ucbaniladfrfr.jpg");
    background-position: center;
    background-size: cover;
    opacity: 100%;
}

#bigass{
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    color: wheat;
    text-align: center;
    background-color:  rgb(53, 53, 53, 0.50);
}

.litol{
    font-size: large;
}

#bottom{
    color: wheat;
    background-color: rgb(53, 53, 53);
    width: auto;
    height: 200px;
}

.update{
    text-align: center;
}

.link{
    font-size: 20px;
    position: absolute;
    left: 30%;
}

.last{
    position: absolute;
    left: 44%;
    opacity: 50%;
}

#posts{
    height: 500px;
    width: auto;
    background-color: whitesmoke;
}

.first{
    margin: 0%;
    width: 20%;
    height: 50%;
    background-color: aquamarine;
}
.img1{
    padding: 10px;
    width: 95%;
    height: 95%;
    position: absolute;
}
.meg{
    color: black;
}
