*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    width: 100.01%;
    height: 100vh;
    background: url("ucbaniladfrfr.jpg");
    background-position: center;
    background-size: cover;
    opacity: 90%;
}

#container{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 15px;
    border-color: transparent;
    display: flex;
    z-index: 1;
} 

.home{
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    transition: all 0.03s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 25px;
    border-right: 1px solid white;
    padding-right: 16px;
}

.search {
    background-color: rgb(245, 245, 245, 0.50);
    border-radius: 25px;
    position: absolute;
    top: 10px;
    right: 80px;
    height: 40px;
    padding-top: 5px;
}

.search::placeholder {
    font-size: 20px;
    color: #717171;
}

img {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 20px;
}

.home:hover{
    background-color:  rgb(53, 53, 53);
	color: black;
}

#bgimg{
    width: 100.01%;
    height: 100vh;
    background: url("ucbaniladfrfr.jpg");
    background-position: center;
    background-size: cover;
    opacity: 100%;
}

#bigass{
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    color: wheat;
    text-align: center;
    background-color:  rgb(53, 53, 53, 0.50);
}

.litol{
    font-size: large;
}

#bottom{
    color: wheat;
    background-color: rgb(53, 53, 53);
    width: auto;
    height: 220px;
}

.update{
    text-align: center;
}

.link{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
   
}
.lass{
    text-align: center;
    opacity: 50%;
    position: flex;
    padding-left: 20px;
}

a{
    text-decoration: none;
}
.last{
    text-align: center;
    position: absolute;
    left: 44%;
    opacity: 50%;
}

#posts{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    background-color: whitesmoke;
}
/*HOME*/
.polaroid img {
    width: 300px;
    height: 250px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    left: 0px;
}

.polaroid {
    height: 300px;
    width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px black;
    overflow: hidden;
    
}

.polaroid:hover .caption{
    cursor: pointer;
    top: 124%;
}


.caption {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.466);
    height: 315px;
    width: 300px;
    position: absolute;
    top: 175%;
    left: 75px;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    
}

.tite{
    text-transform: uppercase;
    font-size: 30px;
}

.tite2{
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
    font-weight: 400;
}

/*HOME*/

/*EDUC*/
#edu{
    display: none;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    background-color: whitesmoke;
}

.eduall{
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 30px;
}
/*EDUC*/

/*STORY*/
#sto{
    display: none;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    background-color: whitesmoke;
}

.stoall{
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 30px;
}
/*STORY*/

/*ABOUT US*/
#au{
    display: none;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: auto;
    background-color: whitesmoke;
}
.aboutuc{
    position: absolute;
    top: 70px;
    left: 100px;
}

.yes{
    position: absolute;
    left: 10%;
    width: 50%;
    position: absolute;
    text-align: justify;
    word-spacing: 10px;
}
.ab{
    font-size: 100%;
    position: absolute;
    font-weight: bold;
    text-align: justify;
}

.acc{
    display: flex;
    position: absolute;
    left: 400px;
}
